<div type="main">
    <div class="container-fluid mt-5">

        <h1 class="text-center">Gasolineras</h1>

        <div class="row mb-4 justify-content-between">
            <div ngbDropdown class="col-12 col-md-3 d-flex"> <!-- filtro precio -->
                <button type="button" class="btn btn-secondary filtro" style="width: 15rem" id="dropdownFilter"
                    ngbDropdownToggle>
                    Filtrar precio
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownFilter">
                    <form class="px-4 py-3">
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1">Precio mínimo</label>
                            <input type="number" [(ngModel)]="precioMinimo" name="precioMinimo"
                                class="form-control tamayoInput" placeholder="Mínimo" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword1">Precio máximo</label>
                            <input type="number" [(ngModel)]="precioMax" name="precioMax"
                                class="form-control tamayoInput" placeholder="Máximo" />
                        </div>
                    </form>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btnBuscar" ngbDropdownItem (click)="aplicarFiltroPrecio()">
                            Filtrar
                        </button>
                    </div>
                </div>
            </div>

            <div ngbDropdown class="col-12 col-md-3 d-flex"> <!-- filtro provincias -->
                <button type="button" class="btn btn-secondary filtro" style="width: 15rem;" id="dropdownFilter"
                    ngbDropdownToggle>
                    Provincias
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownFilter">
                    <form class="px-4 py-3">
                        @for (provincia of provincias; track provincias.indexOf(provincia)){
                        <mat-checkbox [checked]="provinciasFiltrados.includes(provincia)"
                            (change)="modificarLista(provincia)">
                            {{ provincia }}
                        </mat-checkbox>
                        }
                    </form>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btnBuscar"
                            (click)="filtrarProvinciaMultiple()">Filtrar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 d-flex"> <!-- filtro codigo postal autocomplete -->
                <mat-form-field class="bs-secondary-color filtro">
                    <input type="text" placeholder="Código Postal" matInput [formControl]="postalCodeControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPostalCodeSelected($event)">
                        <mat-option *ngFor="let code of filteredPostalCodes | async" [value]="code">
                            {{ code }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-3 d-flex"> <!-- filtro codigo postal NO autocomplete, con input -->
                <form class="form-inline d-flex diseyoInput">
                    <input class="form-control mr-sm-2 diseyoInput " type="search" placeholder="Código Postal"
                        name="codigoPostal" [(ngModel)]="codigoPostal" aria-label="search">
                    <button class="btn" type="submit" (click)="aplicarCodigoPostal()">
                        Buscar
                    </button>
                </form>
            </div>

            <div class="col-12 col-md-3 d-flex">
                <mat-form-field> <!-- filtro comunidad autónoma -->
                    <mat-select placeholder="Comunidad Autónoma" (selectionChange)="onComunidadChange($event)">
                        <mat-option *ngFor="let comunidad of comunidadesAutonomas" [value]="comunidad.IDCCAA">
                            {{ comunidad.CCAA }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            @for (gasolinera of listadoGasolineras; track gasolinera.id) {
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">

                <div class="card mb-5" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{gasolinera.rotulo}}</h5>
                        <p class="card-text">
                            {{gasolinera.provincia}}, {{gasolinera.municipio}}, {{gasolinera.localidad}}
                            , {{gasolinera.postalCode}}, {{gasolinera.direccion}}
                        </p>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/A.png" alt="precio gasoil A">
                            @if (gasolinera.priceGasoleoA == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasoleoA}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/B.png" alt="precio gasoil B">
                            @if (gasolinera.priceGasoleoB == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasoleoB}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/95.png" alt="precio gasolina 95">
                            @if (gasolinera.price95 == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.price95}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/98.png" alt="precio gasolina 98">
                            @if (gasolinera.priceGasolina98 == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceGasolina98}}€</p>
                            }
                        </div>
                        <div class="d-flex gap-5 ms-5">
                            <img width="100px" src="/assets/img/H.png" alt="precio hidrógeno">
                            @if (gasolinera.priceHidrogeno == "") {
                            <p class="mt-4">--</p>
                            }@else{
                            <p class="mt-4 tamayoLetra">{{gasolinera.priceHidrogeno}}€</p>
                            }
                        </div>
                    </div>
                    <a [href]="gasolinera | mapLink" target="_blank" class="btn btn-secondary">Ver en Google Maps</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>